.main-hero {
  overflow: hidden;
  position: relative;
  padding-top: 30px;

  .bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;

    > span {
      width: 100%;
      height: 100% !important;
    }
    img {
      object-fit: cover;
      object-position: left;
    }
  }
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(
      rgba(51, 51, 51, 0.5),
      rgba(51, 51, 51, 0.6),
      rgb(255, 255, 255)
    );
  }

  .row {
    min-height: 460px;
    align-items: center;
    padding: 0 20px;
    @media screen and (max-width: "768px") {
      padding: 0 10px;
    }
    .col {
      height: 450px;
    }

    .descriptions {
      animation: frombottom ease-in 700ms 1;
      z-index: 2;

      .intro-name {
        font-weight: 900;
        color: $primary;
        position: relative;
        width: max-content;
        font-weight: bold;
        // font-family: "Roboto", sans-serif;

        h3 {
          font-size: 1.5rem;
        }
      }
      .intro-description {
        h1 {
          font-size: 3.5rem;
          font-weight: bold;
          font-family: "Roboto", sans-serif;
          word-spacing: 1px;
          letter-spacing: 1.5px;
          color: white;
          @media screen and (max-width: "1150px") {
            font-size: 3rem;
          }
          @media screen and (max-width: "1110px") {
            font-size: 2.7rem;
          }
          @media screen and (max-width: "576px") {
            font-size: 3rem;
          }
          @media screen and (max-width: "482px") {
            font-size: 2.5rem;
          }
          @media screen and (max-width: "405px") {
            font-size: 2rem;
          }
          @media screen and (max-width: "340px") {
            font-size: 1.6rem;
          }
          @media screen and (max-width: "265px") {
            font-size: 1.4rem;
          }
        }
      }
      p {
        color: white;
        letter-spacing: 1px;
      }
      .book {
        button {
          padding: 5px 10px;
          background: $gradientone;
          border: none;
          outline: none;
          color: white;

          &:hover {
            transform: translateY(-2px);
            transition: transform ease-in 200ms;
          }
        }
      }
    }
    .youtube {
      .yt {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
