.services-cards {
  position: relative;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px 0;
  .bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    > span {
      width: 100% !important;
      height: 100% !important;
    }
    @media screen and (max-width: "768px") {
      display: none;
    }
  }

  .row {
    max-width: 1000px;
    justify-content: flex-start;

    z-index: 2;
    padding: 10px 0;
    position: relative;

    .col {
      display: flex;
      justify-content: center;
    }
    .card {
      box-shadow: -3px 3px 5px 1px rgba(128, 128, 128, 0.5);
      margin: 10px auto;
      width: 100%;
      max-width: 350px;
      .img {
        > span {
          height: 100%;
        }
      }

      .card-title {
        text-align: center;
        font-weight: bold;
        color: #333;
        letter-spacing: 1px;
      }
      .card-body {
      }
    }
  }
}
