@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&family=Open+Sans:wght@300;400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");
html,
body {
  padding: 0;
  margin: 0;
}

// font-family: 'Merriweather Sans', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Poppins', sans-serif;

.main {
  background: rgba(51, 51, 51, 0.2);
}

.mindev {
  max-width: 2000px;
  margin: auto;
  background: white;
}

a {
  text-decoration: none;
}
$primary: #39b3e3;
$secondary: #1f2fb5;
$gradientone: linear-gradient(#39b3e3, #203fb9);
$gradienttwo: linear-gradient(#203fb9, #39b3e3);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100% !important;
  height: 100% !important;
}

.up-arrow {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 60px;
  background: $primary;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px 0 gray;
  color: white;
  z-index: 5000;
  &:hover {
    transform: translateY(-2px);
    background: black;
  }
}
@import "./404.scss";
@import "./header.scss";
@import "./HOME/hero.scss";
@import "./HOME//services.scss";
@import "./HOME/objective.scss";
@import "./HOME/tech.scss";
@import "./footer.scss";
@import "./HOME/testimonial.scss";
@import "./HOME/partners.scss";
@import "./works//works.scss";
@import "./about/about.scss";
@import "./services/services.scss";
@import "./contact.scss";
@import "./searchresult.scss";
@import "./blogs/blogs.scss";
@keyframes frombottom {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes modalexit {
  0% {
    transform: translate(0, 10px);
  }
  50% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
